<div
  *ngIf="!objetoVacio(this.pacienteSeleccionado); else noPacienteSeleccionado"
>
  <mat-accordion>
    <mat-expansion-panel
      [expanded]="this.expanded"
      (opened)="setValueExpanded(true)"
      class="fondo-oscuro"
    >
      <mat-expansion-panel-header>
        <mat-panel-title class="letras-blancas">
          <div class="d-flex flex-row margen-costados">
            <span class="material-icons margen-costado-reducido">
              account_circle
            </span>
            <mat-label>
              Paciente:
              <strong>
                {{
                  this.pacienteSeleccionado.nombre +
                    ' ' +
                    this.pacienteSeleccionado.apellido
                }}
              </strong>
            </mat-label>
          </div>
          <div class="d-flex flex-row margen-costados">
            <span class="material-icons">
              badge
            </span>
            <mat-label class="margen-costado-reducido">
              DNI:
              <strong>{{ this.pacienteSeleccionado.dni }}</strong>
            </mat-label>
          </div>
          <div class="d-flex flex-row margen-costados">
            <span class="material-icons">
              whatsapp
            </span>
            <mat-label class="margen-costado-reducido">
              Teléfono:
              <strong>{{ this.pacienteSeleccionado.telefono }}</strong>
            </mat-label>
          </div>
          <div class="d-flex flex-row margen-costados">
            <span class="material-icons">
              health_and_safety
            </span>
            <mat-label class="margen-costado-reducido">
              Obra Social:
              <strong>
                {{ this.pacienteSeleccionado.obra_social.toUpperCase() }}
              </strong>
            </mat-label>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-action-row>
        <button
          mat-raised-button
          color="accent"
          (click)="redirectToFormularioPaciente()"
        >
          Editar Paciente
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="redirectToListadoHistorias()"
        >
          Ver Historias Clinicas
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<ng-template #noPacienteSeleccionado>
  <div
    class="fondo-oscuro d-flex justify-content-center align-items-center no-paciente-selec"
  >
    <div class="d-flex flex-row pt-2 margen-costados">
      <span class="material-icons">
        person_off
      </span>
      <p>{{ labels.no_paciente_selec }}</p>
    </div>
  </div>
</ng-template>
