.margen-arriba{
    padding: 10px 0;
}

.margen-costados{
    margin: 0px 30px;
}

.fondo-oscuro{
    background-color: grey;
    color: white;
}

.info-paciente{
    margin-left: 5px;
}

.no-paciente-selec {
    background-color: #ff7373;
}

.letras-blancas {
    color: white;
}

.margen-costado-reducido{
    margin: 0px 5px;
}