<div class="container-fluid">
    <div class="row">
      <div class="col">
        <div
          class="d-flex justify-content-center centrado-vertical"
        >
          <h1><strong>{{ labels.buscar_paciente }}</strong></h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-center">
          <form action="">
            <mat-form-field appearance="fill" class="ancho-input-buscar">
              <mat-label>DNI o Nombre</mat-label>
              <input
                type="text"
                matInput
                placeholder="DNI o nombre del Paciente"
                [formControl]="formSearcher"
                (keydown.enter)="buscarPaciente()"
              />
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-center">
          <button mat-raised-button color="primary" (click)="this.buscarPaciente()">Buscar</button>
        </div>
      </div>
    </div>
  </div>
