<div class="container d-flex justify-content-center mt-5 mb-3">
    <div class="row d-flex justify-content-center">
        <div class="col">
          <h1><strong>Historias Clinicas del Paciente</strong></h1>
        </div>
      </div>
</div>
<div class="container">
  <div class="row mb-2 mt-2">
    <div class="col">
      <mat-card>
        <mat-card-title>
          Fecha:
          <strong>01/02/2021</strong>
        </mat-card-title>
        <mat-card-subtitle>
          Nro Historia Clinica:
          <strong>1244</strong>
        </mat-card-subtitle>
        <mat-card-actions align="end">
          <button mat-button>VER</button>
          <button mat-button>EDITAR</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  
</div>
